


<header class="Sticky-top">
    <!--navbar start-->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <!--logo image-->
            <img src="~/images/logo_115x.png" class="img-fluid" alt="logo" />
            <button class="nav navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                    <li class="nav-item dropdown mx-3">
                        <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">HOME</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.Action("Index","Product")">Home</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown mx-3">
                        <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">PRODUCT</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.Action("ProductList","Product")">Best Products</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown mx-3">
                        <a class="nav-link active dropdown-toggle" href="" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">BRANDS</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"></a>ProductList</li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown mx-3">
                        <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false"> BLOG </a>
                        <ul class="dropdown-menu">
     
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">PAGE</a>
                        <ul class="dropdown-menu ">
                            <li><a class="dropdown-item" href="#">Contact</a></li>
                            <li><a class="dropdown-item" href="#">About Us</a></li>
                            <li><a class="dropdown-item" href="#">Wishlist</a></li>
                            <li><a class="dropdown-item" href="#">FAQs</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex mt-2">
                    <ul>
                        <li class="d-inline px-2">
                            <a ng-show="hideregisterbutton" class="fs-6" href="@Url.Action("Adduser", "Account")"><i class="fa fa-user text-dark">Register</i></a>
                            <a ng-show="hideloginbutton" href="@Url.Action("login", "Account")"><i class="fa fa-sign-in text-dark">Login</i> </a>
                            <a href="@Url.Action("addtowishlist", "Product")"><i class="fa fa-heart-o"></i> </a>
                            <a href="@Url.Action("cart", "Product")"><i class="fa fa-shopping-cart"></i> </a>
                        </li>
                        <li class="d-inline">
                            <p ng-bind="currentUserName"></p>
                            <a href="#" type="button" ng-click="logoutCurrentUser()" id="currentUser" ng-show="showLogoutButton" class="btn btn-primary"> Logout</a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </nav>
    <!--navbar end-->
</header>

